@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    text-align: center;
     }

.navigation_bar{
    width: 100%;
    background-color: #000505;
    overflow: auto;
}

.navigation_bar a{
    float: left;
    padding: 12px;
    color: #BAFF29;
    text-decoration: none;
    font-size: 17px;
}

.navigation_bar a:hover {
    background-color: #3786BE;
}

.active {
    background-color: #BF1A2F;
}

@media screen and (max-width: 500px) {
    .navigation_bar a {
        float: none;
        display: block;
    }
}

