@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
    background-image: url(images/main_background.jpg);
    background-attachment: fixed;
    color: aliceblue;
    }
*{
    /*border: 1px solid red;*/
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* Część odpiwoedzialna za menu */
.navigation_bar {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    margin: 0 auto; /* wyśrodkowanie */
    width: fit-content; /* dopasowanie do ilości przycisków */
    border-radius: 10px; /* zaokrąglone rogi */
    z-index: 999; /* upewnienie się że jest zawsze nad wszystkim */
}

.navigation_bar a{
    padding: 12px;
    color: #BAFF29;
    text-decoration: none; /*brak podkreślenia*/
    font-size: 17px;
}

.navigation_bar a:hover { /*aktywuje się kiedy najeżdżamy na przycisk*/
    background-color: #3786BE;
}

.active { /*gdy jest ta klasa to podświetla na czerwono*/
    background-color: #BF1A2F;
}
